.box {
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	width: 19%;
	height: 100%;
}

.cardTitle {
  border: 1px solid green;
}

.temperature {
  border: 1px solid red;
}